#signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
}

#signup-header {
  margin-bottom: 2rem;
  text-decoration: underline;
}

#signup-button {
  font-size: 1.1rem;
  color: white;
  padding: 4px 16px;
  margin-top: 1rem;
  background: #4682b4;
  border: solid #315f7d 2px;
  border-radius: 4px;
  transition: all ease-in-out;
  transition-duration: 200ms;
}

#signup-button:hover {
  background: #5a8dac;
  border-color: #4a6a8a;
  cursor: pointer;
}

#signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(3, auto);
  gap: 10px;
}

.signup-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1rem;
}

.signup-input {
  margin-top: 4px;
  padding: 8px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
}

.button-container {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
}

.error {
  grid-column: span 2;
  font-size: 0.9rem;
  margin-top: 4px;
  width: 100%;
}
