#form-container {
  max-width: 800px;
  padding: 20px;
  margin: 16px auto;
  background: #f7f7f7;
  border: solid 1px #aaaaaa;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#form-header {
  text-align: center;
  margin-bottom: 6px;
}

#form-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.inn-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 8px 0;
}

.form-label {
  display: block;
  margin: 8px 0 6px;
  font-weight: 600;
}

.label-subheading {
  margin: 16px 0;
}

.form-input {
  height: 40px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f9f9f9;
}

.form-textarea {
  height: 100px;
  resize: none;
}

.form-button {
  margin-bottom: 6px;
  height: auto;
  color: #f0e68c;
  background-color: #004d40;
  border: solid 1px #00796b;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.form-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.form-button:hover {
  background-color: #00796b;
  color: white;
  transform: translateY(-1px);
}

.stacked-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  gap: 10px;
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#street-address {
  margin-top: 16px;
}

#city {
  width: 450px;
}

.image-input {
  margin-top: 8px;
}
