#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-header {
  margin-top: 1.5rem;
  font-size: 2.15rem;
  text-decoration: underline;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1 auto;
  gap: 10px;
}

.login-label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.login-input {
  margin-top: 4px;
  padding: 8px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
