.review-title {
  margin-top: 10px;
}

#wands {
  display: inline-flex;
  margin: 4px 0 4px 2px;
}

.filled,
.empty {
  color: #6a0dad;
  font-size: 1.2rem;
}

.empty {
  opacity: 50%;
}

.date {
  font-size: 1rem;
}

.time-ago {
  color: #000000a5;
  font-size: 0.9rem;
}
