#landing-header {
  margin: 8px 0;
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

.inns-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  padding: 24px;
}

.inn-card {
  display: flex;
  flex-direction: column;
  border: solid 1px #aaaaaa;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#card-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inn-image-container {
  aspect-ratio: 1 / 1;
  overflow: clip;
}

.inn-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inn-card-info {
  font-size: 0.9em;
  padding: 4px 8px 6px;
}

.inn-card-location {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-right: 4px;
}

.inn-card-bottom-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inn-card-rating {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.inn-card-price {
  font-weight: 600;
  margin-top: 6px;
}

#tooltip-container {
  position: relative;
  display: inline-block;
}

/* Places tooltip above each inn card */
#tooltip-text {
  visibility: hidden;
  width: 80%;
  background-color: #8a8a8a;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 6px;
  opacity: 0;
  transition: opacity 0.4s;
  font-size: 0.95em;
  align-self: center;
  justify-self: center;
}

/* Adds a little arrow at the bottom */
#tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #8a8a8a transparent transparent transparent;
}

#tooltip-container:hover #tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Responsive views */
@media (max-width: 768px) {
  .inns-grid {
    grid-template-columns: 1fr;
  }

  #landing-header {
    font-size: 1.6rem;
  }

  .inn-card-info {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .inns-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .inn-card-info {
    font-size: 0.9rem;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .inns-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1081px) {
  .inns-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
  }

  .inn-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
