#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#profile-create-inn {
  margin-top: 32px;
  font-size: 1.2rem;
  padding: 12px 22px;
}

#profile-header {
  text-align: center;
  margin: 16px 0 0 24px;
  font-family: "Macondo", cursive;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

.modify-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  gap: 6px;
}
