@import url("https://fonts.googleapis.com/css2?family=Allura&family=Macondo&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}
/* End Reset */

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

body {
  font-family: "Radio Canada", "Helvetica Neue", Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  background-color: #f0f0f0;
}

hr {
  border-top: solid 2px black;
  border-radius: 6px;
  margin: 20px 0;
}

.error {
  color: #d9534f;
  font-style: italic;
  text-align: center;
}

.content-container {
  padding: 1.25rem;
  margin: 8px;
}

.create-inn-button {
  font-size: 0.9rem;
  margin-bottom: 6px;
  height: auto;
  color: #f0e68c;
  background-color: #004d40;
  border: solid 1px #00796b;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.create-inn-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(0, 0, 0, 0) 60%
  );
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.create-inn-button:hover::before {
  transform: translate(-50%, -50%);
}

.create-inn-button:hover {
  background-color: #00796b;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
