@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}
/* End Reset */

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

body {
  font-family: 'Moderustic', 'Helvetica Neue', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  background-color: #f7f7f7;
}

.error {
  color: #d9534f;
  font-style: italic;
}
