#info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}

#inn-header {
  margin-bottom: 1rem;
}

#callout-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 2rem 1rem;
  border: solid 1px #aaaaaa;
  border-radius: 6px;
  width: 500px;
  align-items: center;
  grid-row-gap: 20px;
  justify-self: end;
}

#price {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 1.1rem;
  font-weight: bold;
}

#rating {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 0.8rem;
  text-align: right;
}

#reserve-button {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: #004d40;
  color: #f0e68c;
  font-size: 0.9rem;
  padding: 10px 0;
  border: solid 2px #00796b;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

#reserve-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

#reserve-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

#reserve-button:hover {
  background-color: #00796b;
  color: #ffffff;
  transform: translateY(-1px);
}

#avg-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

#avg-rating div {
  display: flex;
  align-items: center;
}

#images {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 6px;
}

#image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  height: 100%;
}

#text-container {
  grid-column: 1 / 2;
}

#preview-image,
.inn-image {
  aspect-ratio: 16 / 9;
  border: solid 1px #aaaaaa;
  border-radius: 6px;
}

.preview,
.inn-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
