#inn-container,
#reviews-container {
  margin: 8px;
}

.inn-image,
#preview-image {
  margin: 1px;
}

#preview-image {
  width: 600px;
}

.inn-image {
  width: 300px;
}

#reserve-button {
  column-span: 2;
  background-color: #228b22;
  color: #f0e68c;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #006400;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#reserve-button:hover {
  background-color: #006400;
}

#callout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 15px;
  border: solid 2px black;
  border-radius: 6px;
  width: 400px;
  align-items: center;
  margin: 20px 0;
}

#price {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 1.1rem;
  font-weight: bold;
}

#rating {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 0.8rem;
  text-align: right;
}

#reserve-button {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: #228b22;
  color: #f0e68c;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #006400;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

#reserve-button:hover {
  background-color: #006400;
}

#avg-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

#avg-rating div {
  display: flex;
  align-items: center;
}
