a:hover {
  text-decoration: underline;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

#home-link {
  margin-right: auto;
}

#nav-logout {
  cursor: pointer;
}

#nav-logout:hover {
  text-decoration: underline;
}

.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 20px;
}

.modal-button:hover {
  text-decoration: underline;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  margin-right: 4px;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  font-size: 1rem;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background-color: #f0f0f0;
}

#close-button {
  position: absolute;
  font-size: 1.1rem;
  color: #bbbbbb;
  top: 6px;
  right: 6px;
  cursor: pointer;
}
