a:hover {
  text-decoration: underline;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 24px;
}

#nav-logout {
  cursor: pointer;
}

#nav-logout:hover {
  text-decoration: underline;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  margin-right: 4px;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  font-size: 1rem;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background-color: #f0f0f0;
}
