#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
}

#login-header {
  margin-bottom: 2rem;
  text-decoration: underline;
}

#login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1 auto;
  gap: 10px;
}

.login-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1rem;
}

.login-input {
  margin-top: 4px;
  padding: 8px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
}

.button-container {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

#login-button {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  padding: 4px 16px;
  background: #4682b4;
  border: solid #315f7d 2px;
  border-radius: 4px;
  transition: all ease-in-out;
  transition-duration: 200ms;
}

#login-button:hover {
  background: #5a8dac;
  border-color: #4a6a8a;
  cursor: pointer;
}

.error {
  text-align: center;
}
